@font-face {
    font-family: 'Neue Montreal';
    src: url('../font/NeueMontreal-Bold.eot');
    src: url('../font/NeueMontreal-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-Bold.woff2') format('woff2'),
        url('../font/NeueMontreal-Bold.woff') format('woff'),
        url('../font/NeueMontreal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../font/NeueMontreal-Regular.eot');
    src: url('../font/NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-Regular.woff2') format('woff2'),
        url('../font/NeueMontreal-Regular.woff') format('woff'),
        url('../font/NeueMontreal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../font/NeueMontreal-Medium.eot');
    src: url('../font/NeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-Medium.woff2') format('woff2'),
        url('../font/NeueMontreal-Medium.woff') format('woff'),
        url('../font/NeueMontreal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../font/NeueMontreal-Light.eot');
    src: url('../font/NeueMontreal-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-Light.woff2') format('woff2'),
        url('../font/NeueMontreal-Light.woff') format('woff'),
        url('../font/NeueMontreal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

