.vs__dropdown-toggle{
    padding: 0!important;
}
span.vs__selected {
    position: absolute;
}

input.vs__search {
    margin: 0;
}
.input-filter {
    padding: 0 14px 0 0!important;
}

.header-filter .grid-datos {
    display: grid;
}


@media (max-width: 1160px){
    /*.menu.wow.fadeIn ul {
        display: none;
    }
    header .grid-header .menu {
        display: grid;
        grid-template-columns: 1fr auto auto;
        justify-items: right;
        grid-gap: 20px;
    }*/
}
@media (max-width: 1025px){
    .menu-item {
        a {
            padding: 10px 7px !important;
          }
    }

    .btn {
        padding: 12px 20px !important;
      }
}
@media only screen and (max-width: 900px) {
    .movil-menu{
        display: block !important;
    }
    .main-nav__list, .btn-contacto{
        display: none !important;
    }
    .sidenav__list {
        padding: 0 !important;
    }
    .menu-item a {
        padding: 10px 0px !important;
    }

    .sub-menu {
        position: relative !important;
        background: #ffffff4f !important;
        box-shadow: none !important;
      }
    .sidenav__body{
        .btn{
            margin-top: .5rem;
            display: block;
            text-align: center;
        }
    }
    .menu-item:not(:hover) > .sub-menu > * {
        visibility: visible !important;
        height: auto !important;
        color: #ffffff !important;
    }
    .banner__mensaje {
        width: 100% !important;
      }
    .banner__contenido {
        height: 450px !important;
    }
}
@media (max-width: 840px){
    .escoger-info{
        display: flex;
        gap: 2rem;
        h2{
            max-width: none !important;
            width: 100%;
            padding-bottom: 1rem !important;
            text-align: center;
            &::before{
                left: 50% !important;
                width: 10% !important;
                transform: translateX(-50%);
            }
        }
        p{
            max-width: none !important;
            width: 100%;
            text-align: center;
        }
    }
}
@media (max-width: 690px){
}

@media (max-width: 450px){
}




