@import 'variables';
@import 'grid';
@import 'header';
@import 'sidenav';
@import 'acordion';
@import 'slider';
@import 'button';
@import 'editor';
@import 'banner';
@import 'form';
@import 'card';
@import 'responsive';
@import 'font';

/* OWL CARROUSEL */
@import 'owl-carousel/core';
@import 'owl-carousel/animate';
@import 'owl-carousel/autoheight';
@import 'owl-carousel/lazyload';
@import 'owl-carousel/video';
@import "owl-carousel/theme.green";

/*===========================================================================================================
=============================================================================================================*/
*,div{
    font-family: 'Neue Montreal', 'Arial';
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
}
p{    
    color: $color_t;
}
p, a{   
    font-size: 17px;
}
a{
    transition: 0.3s;
    color: inherit;
}
h1, h2, h3, h4, h5, h6{
    font-size: 36px;
}
hr {
    background: #f1f0f0;
    border: 0;
    margin: 25px 0;
    height: 2px;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
ol{
    li{
        list-style: decimal;
    }
}
.text-white{
    color:white!important;
}

img{
    display: block;
}

/*
    Position
*/
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
/*=================*/

/*
    Flex
*/
.flex{
    display: flex;
}

.aling-center{
    align-items: center;
}

.justify-star{
    justify-content: start;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: end;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}

.btn-contacto{
    display: block;
}

.wpc-edit-filter-set{
    display: none !important;
}

.fixed-redes {
    position: fixed;
    background-color: #14666b;
    padding: 0 15px;
    color: #fff;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    border-radius: 8px;
    z-index: 20;
    a {
      padding: 1rem 0;
      display: block;
      i {
        font-size: 31px;
      }
    }
  }
/*=================*/

/* Titulo General */

.title-general{
    text-align: center;
    &--naranja{
        color: $color_2;
    }
    &--left{
        text-align: left;
    }
}

.title-gas{
   color: $color_2 !important;
}

/*==================*/
/* ESTILOS DE MENU */

.header-nav{
    .main-nav__list{

    }
    .menu-item{    
      display: block;
      position: relative;
      cursor: pointer;
    }
    .menu-item a{    
      display: block;
      padding: 15px 20px;
      &:hover{
        color: $color_2;
      }
    }
    .sub-menu{    
      min-width: 100%;
      position: absolute;
      background: #ffffff;
      z-index: 100;
      width: 180px;
      border-radius: 6px;
      box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
    }
    .sub-menu:after{    
      content: "";
      display: block;
      height: 0;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 101;
      transition: 0.5s border-top;
    }
    .sub-menu > *{    
      overflow: hidden;
      //padding: 5px 10px;
      background: rgba(0,0,0,0);
      white-space: nowrap;
      transition: 
        0.5s height cubic-bezier(.73,.32,.34,1.5),
        0.5s padding cubic-bezier(.73,.32,.34,1.5),
        0.5s margin cubic-bezier(.73,.32,.34,1.5),
        0.5s 0.2s color,
        0.2s background-color;
    }
    .sub-menu > *:hover{    
      background: rgba(0,0,0,0.07);
    }
    .sub-menu {
        li {
            a{
                border-bottom: 1px solid $color_2;
                padding: 15px 0;
                margin: 0 1.2rem;
            }
        }
        li:last-child a{
            border: none;
        }
    }
    .menu-item:not(:hover) > .sub-menu > * {
        visibility: hidden;
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        color: rgba(25,25,25,0);
        transition: 
          0.5s 0.1s height,
          0.5s 0.1s padding,
          0.5s 0.1s margin,
          0.3s color,
          0.6s visibility;
        z-index: 99;
      }
    
    .btn-nav i {
        font-size: 1.6rem;
        color: $color_1;
    }
}

/*==============================*/


/*=============
BANNER
==============*/

.banner{
    p{
        color: #ffffff;
    }
}

.boton{
    a{        
        color: #fff;
        padding: 12px 28px;
        border-radius: 6px;
        display: inline-block;
        margin-top: 1.2rem;
    }
    &--verde{       
        a{            
            background: $color_1;
        }
    }
    &--naranja{
        a{
            background-color: $color_2;
        }
    }
}

/*==================*/

/*=======================
Section - Nuestros Servicios
=======================*/

.section-servicios{
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    .title-general {
        margin-bottom: 2rem;
        h2{
            color: $color_2;
            margin-bottom: 0.5rem;
        }
    }
}
.cardServicio{
    border-radius: 8px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
    height: 270px;
    &--verde{
        background-color: $color_1;
    }
    &--naranja{
        background-color: $color_2;
    }
    .contentCardServicio {
        padding: 2.2rem;
        display: grid;
        height: 100%;
    }
    .cardServicio{
        &_icon {
            margin: auto;
        }
        &__title{
            display: grid;
            align-content: center;
            margin: 0.8rem 0;
            h4{
                text-align: center;
                color: #fff;
                font-size: 20px;
            }
        }
        &_informacion{
            p {
                text-align: center;
                color: #fff;
            }
        }
    }
}

/*=======================*/

/*=======================
Section - Nuestros Marcas
=======================*/

.section-marcas{
    margin-top: 5rem;
    margin-bottom: 2rem;
    .title-general {
        margin-bottom: 3.2rem;
        h2{
            color: $color_1;
            margin-bottom: 0.5rem;
        }
    }
}
.owl-marcas{
    .item{
        img{            
            margin: auto;
        }
    }
}

/*=======================*/

/*=======================
Section - Escogernos
=======================*/

.section-escogernos{
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.escoger-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.2rem;
    flex-wrap: wrap;
    h2 {
        max-width: 280px;
        color: $color_2;
        position: relative;
        padding-bottom: 2.2rem;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
            height: 3px;
            background: $color_1;
        }
    }
    p {
        max-width: 430px;
      }
}

.moreempleados{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 14px;
    &__info {
        color: #ffffff;
        margin-bottom: 5rem;
        h2 {
            font-size: 5rem;
          }
        p {
            color: #fff;
            width: 150px;
        }
      }
}

.contentMoreEmpleados {
    padding: 2rem;
    height: 350px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .listempleados {
    display: flex;
    gap: 5px;
  }

  .empresavideo{    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 14px;
    position: relative;
    height: 350px;
    display: grid;
    justify-content: center;
    align-content: center;
    color: #fff;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #00000054;
        left: 0;
        bottom: 0;
        border-radius: 14px;
      }
    h3 {
        font-size: 52px;
        font-weight: inherit;
        position: relative;
      }

      a {
        position: relative;
        background-color: $color_1;
        position: absolute;
        right: -25px;
        bottom: -25px;
        width: 175px;
        height: 175px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        border-radius: 100px;
        border: 0.8rem solid #fff;
      }
  }

/*=======================*/

/*=======================
Section - SomosPH
=======================*/

.section-somosph {
    background: #F5F7FA;
    margin: 5rem 0;
    padding: 4rem 0;
  }

  .content-somosph {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .caracteristicas-ph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 5rem;
  }

  .carac-item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .title-somoph {
    h2 {
        color: $color_2;
        strong {
            color: #4D4D4D;
          }
      }
      p {
        margin-top: 12px;
      }
  }

  .info-carac {
    h2 {
        display: flex;
        strong {
            color: #4D4D4D;
            font-size: 30px;
          }
      }
  }
/*=======================*/

/*=======================
Section - Politica
=======================*/

.section-politica{
    margin-bottom: 3.2rem;
    .title-general{
        margin-bottom: 2.8rem;
        h2{
            color: $color_1;
            margin-bottom: 10px;
        }
        p{
            color: $color_2;
        }
    }
}

.itempolitica{
    color: #ffffff;
    border-radius: 12px;
    padding: 2.2rem 2.2rem 16rem;
    text-align: center;
    position: relative;

    &--verde{
        background-color: $color_1;
    }
    &--anaranjado{
        background-color: $color_2;
    }

    .titlepolitica {
        margin-bottom: 2rem;

        h4 {
            font-size: 25px;
            margin-bottom: 8px;
          }
          p {
            color: #fff;
          }
      }

    .videopolitica{        
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }

      img {
        width: 100%;
        border-radius: 10px;
      }
    .iconpolitica{
        width: 60px;
        height: 60px;
        display: flex;
        margin: auto;
        margin-top: -1rem;
        position: relative;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        font-size: 30px;
        &--verde{
            background-color: $color_1;
        }
        &--anaranjado{
            background-color: $color_2;
        }
    }
}

/*=======================*/

/*=======================
Section - Politica
=======================*/

.section-comprar{
    margin-top: 20rem;
    margin-bottom: 5rem;
}

.img-comprar{
    margin: auto;
}

.info-comprar {
    display: grid;
    align-content: center;
    height: 100%;
    gap: 2rem;
    h2 {
        color: $color_2;
      }

      a {
        background: $color_2;
        padding: 15px 30px;
        color: #fff;
        border-radius: 4px;
        display: inline-block;
      }
  }

/*=======================*/

/*=======================
Section - Blog
=======================*/

.section-blog{
    margin-bottom: 5.2rem;
}

.title-general{
    margin-bottom: 1.8rem;
    h2{
        color: $color_1;
        margin-bottom: 10px;
    }
}

.itemblog {
    border-radius: 12px;
    overflow: hidden;
  }

  .infoblog {
    padding: 1.5rem 2rem;
    border-left: 1px solid #C8CFD5;
    border-right: 1px solid #C8CFD5;
    border-bottom: 1px solid #C8CFD5;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .autorblog {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #C8CFD5;
    i{
        color: $color_1;
        font-size: 20px;
    }
  }

  .titleblog {
    h4 {
        font-size: 20px;
        margin-bottom: 1.5rem;
        color: $color_1;
      }
  }

  .enlaceblog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
        color: $color_2;
    }
    p {
        background: #F99716;
        padding: 12px;
        border-radius: 6px;
        color: #ffffff;
        width: 72px;
        text-align: center;
      }
  }

  .singleblog{
    &__header{
        margin-bottom: 1.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            background: $color_1;
            padding: 9px 15px;
            display: flex;
            align-items: center;
            color: #fff;
            border-radius: 8px;
            gap: 0.5rem;
            i {
                font-size: 24px;
              }
          }

          .title-general {
            margin-bottom: 0rem;
          }
    }
    &__imagenbanner {
        figure {
            img {
                height: 420px;
                object-fit: cover;
                border-radius: 10px;
              }
        }
    }
  }


/*=======================*/

/* FOOTER */

.footer{
    background: linear-gradient(90deg, rgba(20,102,107,1) 0%, rgba(2,58,60,1) 100%);
    color: #ffffff;
    padding: 4.2rem 0;
    &__logo {
        img {
            width: 220px;
          }
    }

    &__title{
        margin-bottom: 1.8rem;
        h4 {
            font-size: 25px;
          }
    }

    &__nav{
        .main-nav{
            &__list{
                display: block;
            }

            .menu-item{
                a{
                    padding: 8px 0px;
                    display: block;
                    &:hover{
                        color: $color_2;
                    }
                }
                .sub-menu{
                    display: none;
                }
            }
        }
    }
}

.infocontactos {
    ul {
        margin: 2rem 0;
        li {
            margin: 1.5rem 0;
          }
      }
}

.redes {
    display: flex;
    gap: 1rem;
  }

  .itemredes {
    a {
        background: #ffffff36;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        &:hover{
            background-color: $color_2;
        }
        i {
            font-size: 23px;
          }
      }
  }

  .copy {
    margin-top: 1.8rem;
    p {
        text-align: left;
        color: #fff;
      }
  }


  .form-footer {
    input {
      width: 100%;
      height: 42px;
      border-radius: 10px;
      padding: 0 12px;
      font-size: 17px;
      background: #ffffff4f;
      border: none;
      color: #fff;
      margin-bottom: 0.5rem;
    }
    .form__action{
      margin: 0;
      input[type="submit"]{
        height: 40px;
      }
    }
  }


/*======================*/

/*=======================
Aside Single Blog
=======================*/

.asideBlog {
    background: #F5F7FA;
    height: 100%;
    padding-top: 2.5rem;
    padding-left: 20px;
    padding-right: 20px;

    h3{
        font-size: 25px;
        color: #89939E;
        margin-bottom: 1.2rem;
    }

    ul {
        li {
            a {
                display: block;
                border-top: 1px solid $color_2;
                padding: 0.8rem 0;
              }
        }
    }
  }

  .singleblog{
    &__content {
        margin-top: 2.5rem;
        padding-left: 3.2rem;
        margin-bottom: 5rem;
      }
  }

/*======================*/

/*=======================
Aside Single Blog
=======================*/
.bannerServicio {
    padding: 5rem 0;
    color: #ffffff;
    text-align: center;
    background-size: cover;
    background-position: center;
    margin-bottom: 4.2rem;
    h2 {
        margin-bottom: 10px;
      }
      p {
        color: #fff;
      }
  }

  .servicios{
    display: grid;
    gap: 1.2rem;
    text-align: center;
    margin-bottom: 2.8rem;
    &__image {
        position: relative;
        img {
            border-radius: 10px;
          }
        a {
            position: absolute;
            bottom: 12px;
            right: 20px;
            width: 65px;
            height: 65px;
            background: #fff;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            color: $color_2;
          }
      }

      &__title {
        h4 {
            font-size: 22px;
            color: #89939E;
          }
      }

      &__action {
        a {
            background: $color_2;
            padding: 12px 45px;
            display: inline-block;
            border-radius: 5px;
            color: #fff;
          }
      }
  }
/*======================*/

/*=======================
Página Contactanos
=======================*/

.sectioncontacto {
    margin: 5.2rem 0;
  }

  .formcontacto{
    background: linear-gradient(180deg, #14666b 0%, #023a3c 100%);
    max-width: 700px;
    border-radius: 30px;
    padding: 3.5rem 8rem;
    margin: auto;
    .title-general{
        h2{
            font-size: 25px;
        }
        h2, p{
            color: #ffffff;
        }
        img {
            margin: auto;
            margin-bottom: 2.2rem;
          }
    }
}

.wpcf7-spinner {
    position: absolute;
    right: 36%;
    bottom: 25%;
    transform: translateX(50%);
  }

  input[type="number"]
{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}

.wpcf7-not-valid-tip {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    display: block;
    background: #e35d5d;
    padding: 5px 17px;
    border-radius: 100px;
  }

/*======================*/

/*=======================
Página Nosotros
=======================*/

.informacionnosotros {
    margin: 5rem 0 3rem;
    text-align: center;
    .infobanner{
        max-width: 620px;
        margin: auto;
        display: grid;
        gap: 1.5rem;
        img {
            margin: auto;
          }
          h2{
            color: $color_1;
          }
    }
  }

  .sectionlista {
    margin: 6rem 0 auto;
    margin-bottom: 6.2rem;
  }
  
  .infolistaph {
    h2 {
        font-size: 25px;
        color: $color_1;
      }
      &__1{
        padding-right: 2rem;
      }
      &__2{
        padding: 0 2rem;
        border-left: 1px solid #dddddd91;
        border-right: 1px solid #dddddd91;
      }
      &__3{
        padding-left: 2rem;
      }
      img {
        background: #f99716;
        padding: 0.6rem;
        margin-bottom: 0.8rem;
        border-radius: 14px;
        width: 60px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
      }
}

.owl-trabajos{
    .item{
        img{
            width: 100%;
            border-radius: 40px;
        }
    }

    .center{
        .item{
            //scale: 1.3;
        }
    }

    .owl-dots {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .owl-dot {
            margin: 0 5px;
            padding: 0px;
            border-radius: 100px;
            width: 12px;
            height: 12px;
            display: block;
            transition: .3 all;
            &.active{
                background-color: $color_1;
                width: 15px;
                height: 15px;
                display: block;
            }
          }
      }
}

.sectionconviertete{
    margin: 4.8rem 0;
}

.infoconviertete {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    gap: 2.2rem;
    padding-right: 30px;

    h2 {
        color: $color_1;
      }

      a {
        background: $color_2;
        padding: 12px 20px;
        border-radius: 8px;
        color: #fff;
      }
  }

  .convierteteimg {

    img {
        width: 250px;
        margin: auto;
      }
  }

  .conviertetelista{    
    height: 100%;
    ul{        
        display: grid;  
        height: 100%;
        li{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #9595954d;
            h2{
                font-size: 25px;
                color: #89939E;
            }
        }
    }
  }

  .sectionequipo {
    margin-bottom: 3rem;
  }

  .owl-equipo{
    .item{
        .imgtrabajador {
            img {
                border-radius: 15px;
                width: 100%;
              }
        }

          .nombretrabajador {
            margin-top: 1.2rem;
            color: $color_1;
            h4 {
                font-size: 20px;
              }
          }

          .cargotrabajador {
            p {
                font-size: 14px;
                margin-top: 5px;
              }
          }
    }
  }

/*======================*/

/*=======================
Single Blog
=======================*/

.singleblog__fechaautor {
    margin: 1.8rem 0;
    display: flex;
    gap: 1.5rem;
    p {
        padding: 15px 2.2rem;
        background: #F5F7FA;
        color: #ABBED1;
        border-radius: 8px;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.07);
        i {
            margin-right: 10px;
            font-size: 20px;
          }
      }
}

.singleblog__informacion {
    h2 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 1.2rem;
      }
      .blog-info h3 {
        font-size: 20px;
        font-weight: 600;
      }
}

  /*======================*/




  .taxonomia-cloud {
    display: grid;
    a {
        display: block;
        border-top: 1px solid #F99716;
        padding: 0.8rem 0;
        font-size: 17px !important;
        &:hover{
            color: #F99716;
        }
      }
  } 

  .wpc-filters-widget-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    flex-wrap: wrap;
  }

  .wpc-search-field {
    height: 38px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    font-size: 17px;
    background: #f5f7fa;
    width: 300px !important;
  }

  .wpc-search-clear-icon {
    color: #fff !important;
  }

  .wpc-filter-header {
    display: none;
  }

  .wpc-filters-section{
    margin: 0 !important;
  }

  .singleblog__header {
    select {
        height: 38px;
        background: $color_1;
        border-radius: 8px;
        color: #fff;
        border: none;
        padding: 0 10px;
        font-size: 17px;
      }
  }

  .singleblog__header .wpc-filter-content select {
    width: 205px !important;
    margin-bottom: 0px;
  }


  .contentproducto {
    padding: 1.5rem;
    background: #F5F7FA;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    figure {
        background: #fff;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 1.5rem;
        img {
            width: 100%;
            height: auto;
          }
      }
      .titleblog{
        h4{
            margin: 0;
        }
      }

      .catproducto{
        margin: 1rem 0;
      }

      .enlaceblog {
        display: flex;
        justify-content: center;
        a {
            background: $color_2;
            color: #fff;
            padding: 10px 22px;
            border-radius: 6px;
            font-size: 15px;
          }
      }
  }


  .taxogas{
    h2{
        color: $color_1;
        .taxonomy-label {
            font-size: 20px;
            padding: 0 1rem;
          }
    }
  }

  .sectionSingleproducto{
    margin: 3.5rem 0;
  }

  .owl-imgproducto .item img {
    width: 100%;
  }

  .owl-imgproducto .item {
    border-radius: 20px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 5px;
  }

  .owl-imgproducto{
    .owl-dots {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .owl-dot {
            margin: 0 5px;
            padding: 0px;
            border-radius: 100px;
            width: 12px;
            height: 12px;
            display: block;
            transition: .3 all;
            &.active{
                background-color: $color_1;
                width: 15px;
                height: 15px;
                display: block;
            }
          }
      }
  }

/*=======================
Single Producto
=======================*/

  .contentinfo {
    .singleblog__header {
      p {
        font-size: 18px;
      }
    }
  }

  .singleproducto{
    &__content {
      display: grid;
      gap: 0.8rem;
      p{
        font-size: 18px;
      }
    }
    &__header {
      h3 {
        color: #89939E;
      }
    }
    &__description {
      margin: 0.8rem 0;
    }
    &__ficha {
      a {
        padding: 10px 25px;
        display: inline-block;
        border-radius: 5px;
        border: 1px solid #f99716;
        color: #f99716;
        &:hover{
          background-color: $color_2;
          color: #ffffff;
        }
        i {
          font-size: 25px;
          margin-right: 8px;
        }
      }
    }

    &__elegiropcion {
      margin: 0.4rem 0;
      select {
        height: 40px;
        width: 300px;
        font-size: 17px;
        padding: 0 15px;
        border: 1px solid #14666b;
        border-radius: 5px;
        color: #14666b;
        background: none;
        margin-bottom: 12px;
      }
    }

    &__asesor {
      a {
        background: #14666b;
        color: #ffffff;
        padding: 10px 25px;
        display: inline-block;
        margin-bottom: 15px;
        border-radius: 5px;
        i {
          font-size: 22px;
          margin-right: 8px;
        }
      }
    }

    &__enlacecotizarprod {
      margin-top: .5rem;
      a {
        background: #f99716;
        padding: 10px 35px;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
      }
    }
  }

  /*=======================*/

  .wpc-filter-marca_producto {
    display: none;
  }